@import url('https://fonts.googleapis.com/css?family=Ubuntu');
.blog-content {
  display: flex;
  flex-direction: column;
  background: #400923;
  margin-right: -30px;
  .banner {
    -webkit-animation: fadeUpDelay 800ms;
    animation: fadeUpDelay 800ms;
    min-height: 200px;
    opacity: 1;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    position: relative;
    min-height: 500px;
    color: white;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    box-shadow: inset 0 0 0 1000px rgba(100, 100, 100, 0.6);
    margin: 50px auto;
    flex-direction: column;
    margin: 0;
    margin-bottom: 50px;
    padding: 30px;

    p {
      font-size: 16px;
      color: white;
      font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-weight: lighter;
    }
    h1 {
      font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
      line-height: 40px;
      font-size: 26px;
      text-transform: none;
      @media (max-width: 800px) {
        font-size: 24px;
      }
    }
  }

  .sidebar {
    /* float: left; */
    -ms-flex-order: 2;
    /* order: 2; */
    display: inline-block;
    width: 100%;
    margin: 20px;
    margin-left: 0;
    margin-bottom: 40px;
    margin-top: 0;
    a {
      display: inline;
      @media (max-width: 800px) {
        display: inline-block;
      }
    }

    h3 {
      text-align: center;
      font-size: 18px;
      font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
      color: white;
    }

    @media (max-width: 800px) {
      width: 90%;
    }
  }

  #buttons {
    display: flex;
    justify-content: start;
    > div {
      margin-bottom: 5px;
      margin: 5px;
      margin-left: 0;
      circle {
        fill: #9da0a2;
      }

      &:hover {
        circle {
          fill: unset;
        }
      }

      @include Phone {
        display: inline-flex;
      }
    }
  }

  .blog-post {
    border-radius: 5px;
    -webkit-animation: fadeUpDelay 800ms;
    animation: fadeUpDelay 800ms;
    -ms-flex-order: 1;
    order: 1;
    padding: 0 160px;
    opacity: 1;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;

    @include Phone {
      padding: 0 30px;
    }
    h1 {
      text-align: center;
      margin-bottom: 25px;
      font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
      color: white;
      font-weight: 400;
      padding-bottom: 5px;
      line-height: 1.11111;
      font-size: 28px;
    }

    h2 {
      text-align: left;
      font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
      color: #33475b;
      font-weight: 400;
      text-transform: capitalize;
      margin-bottom: 10px;
      padding-bottom: 5px;
      line-height: 1.8125;
      position: relative;
      font-size: 22px;

      &:after {
        position: absolute;
        width: 5%;
        height: 2px;
        right: 0;
        left: 0;
        bottom: -6px;
        text-align: center;
        background: #370118;
      }
    }

    img {
      text-align: left;
    }

    h4 {
      font-size: 2.5rem;
      text-align: left;
      text-transform: lowercase;
      margin-bottom: 25px;
      font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
      color: white;
    }

    em {
      font-size: 16px;
    }

    p {
      color: #33475b;
      line-height: 30px;
      font-family: 'Ubuntu', sans-serif;
      font-weight: lighter;
      font-size: 16px;
    }

    table.pt-html-table {
      font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
      width: 100%;

      thead {
        border-bottom: 1px solid white;
      }

      td {
        color: white;
      }

      tr {
        &:hover {
          background: #240120;
          cursor: pointer;
        }
      }

      th {
        color: white;
        font-weight: 600;
      }
    }
  }
}
