.blog-content {
  background: white;
  padding-bottom: 60px;
}
.blog-home {
  font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
  color: white;
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: white;
  }

  h5 {
    line-height: 20px;
  }

  .panel {
    padding: 20px 50px;
    border-top: 4px solid white;
    border-radius: 0.25em;
    background-color: #400923;
    -webkit-animation: fadeUpDelay 800ms;
    animation: fadeUpDelay 800ms;
    min-height: 200px;

    opacity: 1;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
  }

  .pt-button {
  }

  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
  .pt-button:not([class*='pt-intent-']) {
    background-color: transparent;
    background-image: unset;
    color: white;
    padding: 10px 20px;
    font-size: 12px;
    /* margin: 3px; */
    border: 1px solid;
  }
  .pt-card {
    background: #230121;
  }
  .blog-listing {
    color: white;
  }

  p {
    color: white;
  }
}
