.coin-tiles {
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
  flex: 5;
  align-content: flex-start;
  justify-content: space-evenly;
  padding: 25px;

  @media only screen and (min-width: 760px) and (max-width: 1200px) {
    flex: 2;
  }

  /*
    -webkit-animation: fadeUpDelay 800ms;
    animation: fadeUpDelay 800ms;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;*/

  @include Phone {
    flex-wrap: nowrap;
    //padding: 10px;
    padding: 0;
    flex-direction: column;
  }

  @include Tablet-Portrait {
    justify-content: space-evenly;
    order: 1;
    flex: 2;
    padding: 0;
  }

  h1 {
    color: white;
    font-size: 16px;
    margin-bottom: 0;
    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin-bottom: 4.1rem;
    margin-bottom: 25px;
    flex-basis: 100%;
    margin-top: 0;
    font-size: 12px;
    width: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include Phone {
      margin-bottom: 25px;
      font-size: 16px;
      text-align: left;
    }

    @include Tablet-Portrait {
      margin-bottom: 35px;
    }
  }

  .tile {
    margin: 25px;
    flex-grow: 1;
    max-width: 35%;
    padding: 50px;
    padding-top: 40px;
    flex: 0 50%;
    padding-left: 40px;
    min-width: 260px;
    flex: 0 1 46%;
    margin-top: 0;
    margin-bottom: 40px;

    @include bp-large {
      padding: 20px;
      flex-basis: 100%;
      max-width: none;
    }

    @include Tablet-Portrait {
      flex: 0 1 43%;
      margin: 0;
      margin-bottom: 25px;
    }

    @include Phone {
      padding: 25px;
      margin: 0;
      margin-bottom: 20px;
      padding-left: 40px;
      max-width: 100%;
      margin-top: 0;
      flex-basis: 100%;
      max-width: auto;
    }

    img {
      width: 40px;
      margin-bottom: 10px;
      margin-top: 5px;
    }

    .header {
      h1 {
        float: left;
        margin: 0;
        white-space: nowrap;
        line-height: 1.4;
        flex-basis: 100%;
        text-align: left;
        color: white;
        font-size: 14px;
        font-weight: 700;
        width: 100%;
        text-transform: uppercase;
      }

      span {
        text-align: left;
        font-size: 13px;
        color: #4cf3ce;
      }
    }

    h2 {
      font-size: 13px;
      font-weight: bolder;
      color: #bfc5e6;
      margin-top: 10px;
    }

    .info {
      h3 {
        margin: 0 6px 0 -6px;
        padding: 0 6px;
        line-height: 32px;
        color: white;
        font-size: 28px;
        font-weight: 700;
        transition: background-color 0.11666667s ease, color 0.11666667s ease;
      }

      span {
        color: #4cf3ce;
      }
    }
  }

  .panel {
    height: auto;

    @include Tablet-Portrait {
      max-width: none;
    }
  }
}
