.faq {
  font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
  padding: 0 15%;
  .panel-default > .panel-heading {
    background-color: #230120;
    background-image: none;
    color: white;
  }

  h1 {
    color: white;
    font-size: 22px;
    margin-bottom: 2rem;
    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: normal;
  }

  .panel-body {
    background: #2c011d;
    color: white;
  }
}
