.history {
  svg {
    font-size: 18px;
  }
  h1 {
    font-size: 1.6rem;
    text-align: left;
    text-transform: none;
    margin-bottom: 25px;
    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
    color: white;

    @include Phone {
      font-size: 1.4rem;
      text-align: left;
      margin-top: 0;
      margin-bottom: 10px;
    }
  }

  table.pt-html-table {
    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
    width: 100%;

    thead {
      border-bottom: 1px solid white;
    }

    td {
      color: white;
      @include Phone {
        font-size: 10px;
      }
    }

    tr {
      &:hover {
        background: #240120;
        cursor: pointer;
      }
    }

    th {
      color: white;
      font-weight: 600;

      @include Phone {
        font-size: 10px;
      }
    }
  }
}
