@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700');

.container {
  padding-left: 0;
}
.home {
  font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;

  .example_responsive_1 {
    width: 320px;
    height: 100px;
  }
  @media (min-width: 500px) {
    .example_responsive_1 {
      width: 100%;
      height: 60px;
    }
  }
  @media (min-width: 800px) {
    .example_responsive_1 {
      width: 100%;
      height: 90px;
    }
  }

  @keyframes fadeInUp {
    from {
      transform: translate3d(0, 40px, 0);
    }

    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeInUp {
    from {
      transform: translate3d(0, 40px, 0);
    }

    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  .previous-purchase {
    -webkit-animation: fadeUpDelay 800ms;
    animation: fadeUpDelay 800ms;
    min-height: 490px;
    width: 100%;
    opacity: 1;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    @media (max-width: 500px) {
      padding: 0;
    }
    @media (min-width: 500px) and (max-width: 950px) {
      padding: 0;
    }

    @include Tablet-Portrait {
      margin: 25px;
      margin: 0 auto;
    }
  }

  .wrapper {
    display: -ms-flexbox;
    flex-wrap: wrap;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;

    @include Phone {
      flex-wrap: wrap-reverse;
      padding: 0;
      -ms-flex-direction: column;
      flex-direction: row;
      margin-top: 0;
    }

    @include Tablet-Portrait {
      flex-direction: column;
    }
  }

  .title {
    text-align: center;
    font-weight: bold;
    text-transform: none;
    margin-bottom: 20px;
    font-size: 24px;
  }

  .panel {
    padding: 20px 50px;
    @include Phone {
      border-top: 4px solid #a6afa6;
    }
    border-radius: 0.25em;
    background-color: #400923;

    @include Phone {
      padding: 20px 15px;
    }
  }

  .headings {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;

    h1 {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex: 5 1;
      flex: 5 1;
    }
  }

  .profit-form {
    flex: 4;
    padding: 25px;
    padding-left: 0;

    @include Phone {
      padding: 0;
      margin: 0;
      max-width: 100%;
      margin-top: 0;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      max-width: auto;
    }

    h3 {
      font-size: 10px;
      color: white;
      line-height: 23px;
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 15px;
      letter-spacing: 0.9px;
      text-transform: uppercase;
      letter-spacing: 1.2px;
    }

    h2 {
      margin-top: 0;
      text-align: center;
      color: white;
      display: block;
      font-size: 12px;
      width: 100%;
      letter-spacing: 2px;
      text-transform: uppercase;
      @include Phone {
        text-align: center;
        font-size: 16px;
        margin-bottom: 10px;
        text-align: left;
      }
    }
  }

  .desc {
    color: #fff;
    line-height: 5rem;
    text-align: left;
    font-weight: 500;
    font-size: 34px;
    text-transform: lowercase;
  }

  img {
    width: 100%;
  }

  .logo {
    font-size: 5rem;
    color: white;
    margin: 20px;

    @include Phone {
      font-size: 48px;
    }
  }

  h1 {
    color: white;
    font-size: 18px;
    margin-bottom: 2rem;
    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: normal;
    text-transform: none;
  }

  p {
    color: white;
    line-height: 30px;
    font-size: 16px;
    margin-top: 20px;
  }

  h2 {
    color: white;
    font-size: 16px;
    margin-bottom: 25px;
    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
    font-weight: normal;
  }

  select {
    width: 100%;
    padding-left: 10px;
    height: 40px;
    margin-bottom: 20px;
    color: white;
    border: none;
    background: #3a0820;
  }

  label {
    font-size: 11px;
    color: white;
    line-height: 23px;
    font-weight: 300;
    margin-top: 0;
    /* margin-bottom: 15px; */
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  input[type='text'] {
    display: block;
    width: 100%;
    height: 40px;
    color: white;
    padding-left: 20px;
    font-size: 1.5rem;
    margin-bottom: 20px;
    border: none;
    background: #3a0820;
  }

  .currency {
    width: 100%;
    margin: 5px;
    margin-left: 0;
  }
  .errorMsg {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 14px;
    color: red;
    line-height: 0;
  }
  .price {
    width: 100%;
    margin: 5px;
    margin-right: 0;
    margin-left: 0;
    margin-top: 5;
  }
  .react-datepicker__current-month,
  .react-datepicker-time__header {
    font-size: 1.3rem;
  }
  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    color: #000;
    display: inline-block;
    width: 3.7rem;
    line-height: 1.7rem;
    text-align: center;
    margin: 0.166rem;
  }
  .react-datepicker {
    font-size: 1.2rem;
  }
  .react-datepicker__input-container {
    width: 100%;
  }

  .react-datepicker-wrapper {
    width: 100%;
  }
  .submit {
    .advert {
      width: 45%;
      margin: 5px;
    }
    button {
      background: none;
      color: #44b8ff;
      padding: 10px 15px;
      border: none;
      color: white;
      width: 50%;
      border: 1px solid white;
      width: 35%;
      font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
      border-radius: 6px;
      height: 50px;
      float: none;
      font-size: 16px;
      margin-top: 0px;
      margin-bottom: 15px;
      transition: all 0.2s ease-in-out;
      font-size: 11px;
      color: white;
      line-height: 23px;
      font-weight: 300;
      margin-top: 0;
      /* margin-bottom: 15px; */
      letter-spacing: 1.5px;
      text-transform: uppercase;

      &:hover {
        background: #230121;
        border: none;
      }
    }
  }

  @media only screen and (max-width: 500px) {
    .submit {
      button {
        width: 100%;
        margin-bottom: 30px;
        margin-top: 0px;
      }
    }

    .title {
      text-align: left;
      font-weight: bold;
      text-transform: none;
      font-size: 24px;
      line-height: 35px;
      padding: 0 15px;
    }

    h1 {
      text-align: left;
      font-size: 20px;
    }

    p {
      text-align: left;
      font-size: 1.45rem;
      font-weight: 300;
      line-height: 2.25;
    }

    .desc {
      line-height: 3rem;
      font-weight: 400;
      font-size: 18px;
    }

    h2 {
      line-height: 34px;
    }

    .currency {
      width: 100%;
    }

    .logo {
      font-size: 5rem;
      margin-top: 20px;
    }

    .price {
      width: 100%;
    }
  }
}
