.info-tile {
  text-align: center;
  padding: 3rem 15.5rem 21rem 15.5rem;
  min-height: 300px;

  @include Phone {
    padding: 20px;
    padding-top: 0;
  }

  h1 {
    color: #fff;
    line-height: 5rem;
    font-size: 22px;
    text-transform: none;
    @include Phone {
      line-height: 3.5rem;
      margin-bottom: 0;
      margin-top: 0;
      text-align: left;
      font-size: 18px;
    }
  }

  p {
    font-size: 1.45rem;
    font-weight: 300;
    line-height: 2.25;
    @include Phone {
      margin-top: 5px;
      text-align: left;
      font-size: 1.45rem;
    }
  }
  .cta {
    padding-top: 4rem;
    button {
      -moz-appearance: none;
      -webkit-appearance: none;
      align-items: center;
      border: 1px solid #dbdbdb;
      border-radius: 3px;
      box-shadow: none;
      display: inline-flex;
      font-size: 1rem;
      padding-bottom: calc(0.375em - 1px);
      padding-top: calc(0.375em - 1px);
      position: relative;
      vertical-align: top;
      -webkit-user-select: none;
      user-select: none;
      justify-content: center;
      padding-left: 0.75em;
      padding-right: 0.75em;
      text-align: center;
      font-size: 1.2rem;
      margin: 0 2.5rem 0.5rem;
      padding: 1.5rem 3rem;
      white-space: nowrap;
      color: white;
      background: none;
      @include Phone {
        margin: 5px;
      }

      &:hover {
        background: white;
        color: gray;
      }
    }
  }
}
