.linechart {
  padding: 30px;
  button {
    position: absolute;
    margin: 0;
    padding: 0;
  }

  .loader {
    display: flex;
    margin-top: 8%;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
  }

  label.pt-label .pt-select {
    width: 20%;
    display: inline;
    vertical-align: middle;
    margin-top: 0;
    font-weight: 400;
  }

  select {
    margin-top: 5px;
  }

  .date-picker {
    position: absolute;
    @media only screen and (max-width: 600px) {
      position: relative;
    }
  }

  input {
    display: block;
    margin-top: 5px;
    width: 100%;
    height: 40px;
    color: white;
    padding-left: 20px;
    font-size: 1.5rem;
    padding: 0 25px 0 10px;
    margin-bottom: 20px;
    height: 30px;
    border: none;
    background: #230121;
    font-weight: lighter;
    text-transform: none;
  }

  .react-datepicker__current-month,
  .react-datepicker-time__header {
    font-size: 1.3rem;
  }
  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    color: #000;
    display: inline-block;
    width: 3.7rem;
    line-height: 1.7rem;
    text-align: center;
    margin: 0.166rem;
  }
  .react-datepicker {
    font-size: 1.2rem;
  }

  .react-datepicker-wrapper {
    width: 100%;
  }

  .date-picker {
    display: inline-block;
    > div {
      display: inline;
    }
  }

  label.pt-label {
    display: inline-block;
    margin: 0 10px 19px;
    width: 20%;

    text-align: left;
    font-weight: 400;
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  @media only screen and (max-width: 600px) {
    &.panel {
      padding: 15px;
    }

    .react-datepicker__input-container {
      width: 100%;
    }

    label.pt-label {
      display: inherit;
      margin: 0 0 15px;
      width: 100%;
      font-size: 15px;
    }
  }

  span {
    color: white;
  }
}
