.login {
  min-height: 600px;
  display: flex;
  align-items: center;
  .container {
    width: 45%;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    @media only screen and (max-width: 500px) {
      width: 100%;
    }
  }

  &.panel {
    background: #38051d;
  }

  h2 {
    color: white;
    font-size: 20px;
    margin-bottom: 2rem;
    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  h3 {
    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
    line-height: 20px;
    color: #d2d2d2;
    font-size: 12px;
    text-align: left;
  }

  label {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: normal;
  }

  input {
    display: block;
    width: 100%;
    height: 40px;
    color: white;
    padding-left: 20px;
    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 20px;
    border: none;
    background: #3d0115;
  }

  .has-feedback label ~ .form-control-feedback {
    top: 32px;
    right: 5px;
  }

  .has-success .form-control-feedback {
    color: #54bd56;
  }
}
