.profit-values {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.purchase-time {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media only screen and (max-width: 500px) {
  .profit-values {
  }
}
