.results {
  [class*='col-'] {
    background-clip: padding-box;
  }

  /* Animation */

  @keyframes fadeInUp {
    from {
      transform: translate3d(0, 40px, 0);
    }

    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeInUp {
    from {
      transform: translate3d(0, 40px, 0);
    }

    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  .panel {
    padding: 20px 50px;
    border-top: 4px solid white;
    border-radius: 0.25em;
    background-color: #33011a;
    -webkit-animation: fadeUpDelay 800ms;
    animation: fadeUpDelay 800ms;
    min-height: 490px;

    opacity: 1;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
  }

  .result-panels {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .barchart {
      // min-width: 490px;
    }

    > div {
      //width: auto;
      min-width: 15%;

      @include Phone {
        //width: 100%;
      }
    }

    .panel {
      padding: 15px;
      border: none;

      @include Phone {
        min-height: auto;
      }
      h3 {
        color: $gray;
        font-size: 1.4rem;
      }
    }
  }

  .stat-metric {
    text-align: center;
    img {
      width: 70px;
      height: 70px;
      margin-top: 15px;
    }
    @include Phone {
      width: 100%;
      padding-right: 4%;
      padding-left: 1%;
    }
  }

  button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1rem;
    position: relative;
    vertical-align: top;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0.75em;
    padding-right: 0.75em;
    text-align: center;
    font-size: 1.2rem;
    margin: 0 2.5rem 0.5rem;
    padding: 1.5rem 3rem;
    white-space: nowrap;
    color: white;
    background: none;
  }

  .pt-popover-wrapper {
    button {
      margin-left: 0;
      margin-bottom: 10px;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
    color: white;
  }

  h2 {
    font-size: 20px;
    margin-top: 0;
    line-height: 35px;
  }
  .loader {
    margin: 0 auto;
  }
  .red1 {
    color: #cc4a14;
  }
  .red2 {
    color: #ff0000;
  }
  .red3 {
    color: #40ff40;
  }
  .red4 {
    color: #54cc14;
  }
  .red5 {
    color: #00b20f;
  }

  h1 {
    font-size: 2.5rem;
    text-align: center;
    text-transform: lowercase;
    margin-bottom: 25px;
  }
  .stats {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .chart-wrapper {
    float: right;

    @media only screen and (max-width: 800px) {
      float: none;
    }
  }
  .grid-item {
    height: 153px;
    min-height: 50px;
    text-align: center;
    flex: 1;

    @media only screen and (max-width: 800px) {
      margin: 0 auto;
      margin-bottom: 20px;
    }

    @include Tablet-Landscape {
      margin: 0px;
    }

    h1 {
      display: inline-block;
      font-weight: 400;
      letter-spacing: -2px;
      margin-bottom: 10px;
      font-size: 25px;
      line-height: 32px;

      @include Phone {
        font-size: 20px;
      }
    }

    span {
      font-size: 35px;
      margin-left: 10px;
      font-weight: lighter;
    }
  }

  .ads {
    background: grey;
    height: 90px;
    margin: 30px auto;
  }

  h2 {
    text-align: center;
    color: white;
    display: block;

    font-size: 12px;
    width: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  h3 {
    text-align: center;
    font-size: 1.8rem;
    color: white;
  }

  h4 {
    text-align: center;
    line-height: 30px;
    display: block;
    width: 100%;
    text-transform: lowercase;
    font-family: inherit;
    font-weight: 500;
    color: white;
    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
    line-height: 1.6;
    font-size: 14px;
    margin-top: -10px;
  }

  @media only screen and (max-width: 500px) {
    .panel {
      padding: 20px 0;
    }

    .grid-item {
      h1 {
        font-size: 28px;
      }
    }

    .results .grid-item > div {
      display: block;
    }

    h2 {
      line-height: 40px;
      font-size: 16px;
    }

    h3 {
      margin-bottom: 20px;
      font-size: 16px;
    }
    .stats {
      display: block;
    }
  }
}
