/*FONT SIZE MIXIN */
/*FONTS */
/* BREAKPOINTS MIXIN */
/* DEVICES BREAKPOINTS */
/*@mixin iPad {
    @media only screen and (min-width: $screen-sm-min) and (max-width: $screen-tablet-max) {
      @content;
    }
  }*/
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url(~@blueprintjs/core/lib/css/blueprint.css);
@import url(~@blueprintjs/icons/lib/css/blueprint-icons.css);
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700");
.container {
  padding-left: 0; }

.home {
  font-family: 'Roboto Mono', Helvetica, Arial, sans-serif; }
  .home .example_responsive_1 {
    width: 320px;
    height: 100px; }
  @media (min-width: 500px) {
    .home .example_responsive_1 {
      width: 100%;
      height: 60px; } }
  @media (min-width: 800px) {
    .home .example_responsive_1 {
      width: 100%;
      height: 90px; } }

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0); }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0); }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }
  .home .previous-purchase {
    -webkit-animation: fadeUpDelay 800ms;
    animation: fadeUpDelay 800ms;
    min-height: 490px;
    width: 100%;
    opacity: 1;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp; }
    @media (max-width: 500px) {
      .home .previous-purchase {
        padding: 0; } }
    @media (min-width: 500px) and (max-width: 950px) {
      .home .previous-purchase {
        padding: 0; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
      .home .previous-purchase {
        margin: 25px;
        margin: 0 auto; } }
  .home .wrapper {
    display: -ms-flexbox;
    flex-wrap: wrap;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row; }
    @media (max-width: 767px) {
      .home .wrapper {
        flex-wrap: wrap-reverse;
        padding: 0;
        -ms-flex-direction: column;
        flex-direction: row;
        margin-top: 0; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
      .home .wrapper {
        flex-direction: column; } }
  .home .title {
    text-align: center;
    font-weight: bold;
    text-transform: none;
    margin-bottom: 20px;
    font-size: 24px; }
  .home .panel {
    padding: 20px 50px;
    border-radius: 0.25em;
    background-color: #400923; }
    @media (max-width: 767px) {
      .home .panel {
        border-top: 4px solid #a6afa6; } }
    @media (max-width: 767px) {
      .home .panel {
        padding: 20px 15px; } }
  .home .headings {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row; }
    .home .headings h1 {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex: 5 1;
      flex: 5 1; }
  .home .profit-form {
    flex: 4;
    padding: 25px;
    padding-left: 0; }
    @media (max-width: 767px) {
      .home .profit-form {
        padding: 0;
        margin: 0;
        max-width: 100%;
        margin-top: 0;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: auto; } }
    .home .profit-form h3 {
      font-size: 10px;
      color: white;
      line-height: 23px;
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 15px;
      letter-spacing: 0.9px;
      text-transform: uppercase;
      letter-spacing: 1.2px; }
    .home .profit-form h2 {
      margin-top: 0;
      text-align: center;
      color: white;
      display: block;
      font-size: 12px;
      width: 100%;
      letter-spacing: 2px;
      text-transform: uppercase; }
      @media (max-width: 767px) {
        .home .profit-form h2 {
          text-align: center;
          font-size: 16px;
          margin-bottom: 10px;
          text-align: left; } }
  .home .desc {
    color: #fff;
    line-height: 5rem;
    text-align: left;
    font-weight: 500;
    font-size: 34px;
    text-transform: lowercase; }
  .home img {
    width: 100%; }
  .home .logo {
    font-size: 5rem;
    color: white;
    margin: 20px; }
    @media (max-width: 767px) {
      .home .logo {
        font-size: 48px; } }
  .home h1 {
    color: white;
    font-size: 18px;
    margin-bottom: 2rem;
    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: normal;
    text-transform: none; }
  .home p {
    color: white;
    line-height: 30px;
    font-size: 16px;
    margin-top: 20px; }
  .home h2 {
    color: white;
    font-size: 16px;
    margin-bottom: 25px;
    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
    font-weight: normal; }
  .home select {
    width: 100%;
    padding-left: 10px;
    height: 40px;
    margin-bottom: 20px;
    color: white;
    border: none;
    background: #3a0820; }
  .home label {
    font-size: 11px;
    color: white;
    line-height: 23px;
    font-weight: 300;
    margin-top: 0;
    /* margin-bottom: 15px; */
    letter-spacing: 1.5px;
    text-transform: uppercase; }
  .home input[type='text'] {
    display: block;
    width: 100%;
    height: 40px;
    color: white;
    padding-left: 20px;
    font-size: 1.5rem;
    margin-bottom: 20px;
    border: none;
    background: #3a0820; }
  .home .currency {
    width: 100%;
    margin: 5px;
    margin-left: 0; }
  .home .errorMsg {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 14px;
    color: red;
    line-height: 0; }
  .home .price {
    width: 100%;
    margin: 5px;
    margin-right: 0;
    margin-left: 0;
    margin-top: 5; }
  .home .react-datepicker__current-month,
  .home .react-datepicker-time__header {
    font-size: 1.3rem; }
  .home .react-datepicker__day-name,
  .home .react-datepicker__day,
  .home .react-datepicker__time-name {
    color: #000;
    display: inline-block;
    width: 3.7rem;
    line-height: 1.7rem;
    text-align: center;
    margin: 0.166rem; }
  .home .react-datepicker {
    font-size: 1.2rem; }
  .home .react-datepicker__input-container {
    width: 100%; }
  .home .react-datepicker-wrapper {
    width: 100%; }
  .home .submit .advert {
    width: 45%;
    margin: 5px; }
  .home .submit button {
    background: none;
    color: #44b8ff;
    padding: 10px 15px;
    border: none;
    color: white;
    width: 50%;
    border: 1px solid white;
    width: 35%;
    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
    border-radius: 6px;
    height: 50px;
    float: none;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 15px;
    transition: all 0.2s ease-in-out;
    font-size: 11px;
    color: white;
    line-height: 23px;
    font-weight: 300;
    margin-top: 0;
    /* margin-bottom: 15px; */
    letter-spacing: 1.5px;
    text-transform: uppercase; }
    .home .submit button:hover {
      background: #230121;
      border: none; }
  @media only screen and (max-width: 500px) {
    .home .submit button {
      width: 100%;
      margin-bottom: 30px;
      margin-top: 0px; }
    .home .title {
      text-align: left;
      font-weight: bold;
      text-transform: none;
      font-size: 24px;
      line-height: 35px;
      padding: 0 15px; }
    .home h1 {
      text-align: left;
      font-size: 20px; }
    .home p {
      text-align: left;
      font-size: 1.45rem;
      font-weight: 300;
      line-height: 2.25; }
    .home .desc {
      line-height: 3rem;
      font-weight: 400;
      font-size: 18px; }
    .home h2 {
      line-height: 34px; }
    .home .currency {
      width: 100%; }
    .home .logo {
      font-size: 5rem;
      margin-top: 20px; }
    .home .price {
      width: 100%; } }

.results {
  /* Animation */ }
  .results [class*='col-'] {
    background-clip: padding-box; }

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0); }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0); }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }
  .results .panel {
    padding: 20px 50px;
    border-top: 4px solid white;
    border-radius: 0.25em;
    background-color: #33011a;
    -webkit-animation: fadeUpDelay 800ms;
    animation: fadeUpDelay 800ms;
    min-height: 490px;
    opacity: 1;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp; }
  .results .result-panels {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .results .result-panels > div {
      min-width: 15%; }
    .results .result-panels .panel {
      padding: 15px;
      border: none; }
      @media (max-width: 767px) {
        .results .result-panels .panel {
          min-height: auto; } }
      .results .result-panels .panel h3 {
        color: #b1a7ad;
        font-size: 1.4rem; }
  .results .stat-metric {
    text-align: center; }
    .results .stat-metric img {
      width: 70px;
      height: 70px;
      margin-top: 15px; }
    @media (max-width: 767px) {
      .results .stat-metric {
        width: 100%;
        padding-right: 4%;
        padding-left: 1%; } }
  .results button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1rem;
    position: relative;
    vertical-align: top;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0.75em;
    padding-right: 0.75em;
    text-align: center;
    font-size: 1.2rem;
    margin: 0 2.5rem 0.5rem;
    padding: 1.5rem 3rem;
    white-space: nowrap;
    color: white;
    background: none; }
  .results .pt-popover-wrapper button {
    margin-left: 0;
    margin-bottom: 10px; }
  .results h1,
  .results h2,
  .results h3,
  .results h4 {
    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
    color: white; }
  .results h2 {
    font-size: 20px;
    margin-top: 0;
    line-height: 35px; }
  .results .loader {
    margin: 0 auto; }
  .results .red1 {
    color: #cc4a14; }
  .results .red2 {
    color: #ff0000; }
  .results .red3 {
    color: #40ff40; }
  .results .red4 {
    color: #54cc14; }
  .results .red5 {
    color: #00b20f; }
  .results h1 {
    font-size: 2.5rem;
    text-align: center;
    text-transform: lowercase;
    margin-bottom: 25px; }
  .results .stats {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center; }
  .results .chart-wrapper {
    float: right; }
    @media only screen and (max-width: 800px) {
      .results .chart-wrapper {
        float: none; } }
  .results .grid-item {
    height: 153px;
    min-height: 50px;
    text-align: center;
    flex: 1; }
    @media only screen and (max-width: 800px) {
      .results .grid-item {
        margin: 0 auto;
        margin-bottom: 20px; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      .results .grid-item {
        margin: 0px; } }
    .results .grid-item h1 {
      display: inline-block;
      font-weight: 400;
      letter-spacing: -2px;
      margin-bottom: 10px;
      font-size: 25px;
      line-height: 32px; }
      @media (max-width: 767px) {
        .results .grid-item h1 {
          font-size: 20px; } }
    .results .grid-item span {
      font-size: 35px;
      margin-left: 10px;
      font-weight: lighter; }
  .results .ads {
    background: grey;
    height: 90px;
    margin: 30px auto; }
  .results h2 {
    text-align: center;
    color: white;
    display: block;
    font-size: 12px;
    width: 100%;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .results h3 {
    text-align: center;
    font-size: 1.8rem;
    color: white; }
  .results h4 {
    text-align: center;
    line-height: 30px;
    display: block;
    width: 100%;
    text-transform: lowercase;
    font-family: inherit;
    font-weight: 500;
    color: white;
    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
    line-height: 1.6;
    font-size: 14px;
    margin-top: -10px; }
  @media only screen and (max-width: 500px) {
    .results .panel {
      padding: 20px 0; }
    .results .grid-item h1 {
      font-size: 28px; }
    .results .results .grid-item > div {
      display: block; }
    .results h2 {
      line-height: 40px;
      font-size: 16px; }
    .results h3 {
      margin-bottom: 20px;
      font-size: 16px; }
    .results .stats {
      display: block; } }

.login {
  min-height: 600px;
  display: flex;
  align-items: center; }
  .login .container {
    width: 45%;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center; }
    @media only screen and (max-width: 500px) {
      .login .container {
        width: 100%; } }
  .login.panel {
    background: #38051d; }
  .login h2 {
    color: white;
    font-size: 20px;
    margin-bottom: 2rem;
    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .login h3 {
    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
    line-height: 20px;
    color: #d2d2d2;
    font-size: 12px;
    text-align: left; }
  .login label {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: normal; }
  .login input {
    display: block;
    width: 100%;
    height: 40px;
    color: white;
    padding-left: 20px;
    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 20px;
    border: none;
    background: #3d0115; }
  .login .has-feedback label ~ .form-control-feedback {
    top: 32px;
    right: 5px; }
  .login .has-success .form-control-feedback {
    color: #54bd56; }

.history svg {
  font-size: 18px; }

.history h1 {
  font-size: 1.6rem;
  text-align: left;
  text-transform: none;
  margin-bottom: 25px;
  font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
  color: white; }
  @media (max-width: 767px) {
    .history h1 {
      font-size: 1.4rem;
      text-align: left;
      margin-top: 0;
      margin-bottom: 10px; } }

.history table.pt-html-table {
  font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
  width: 100%; }
  .history table.pt-html-table thead {
    border-bottom: 1px solid white; }
  .history table.pt-html-table td {
    color: white; }
    @media (max-width: 767px) {
      .history table.pt-html-table td {
        font-size: 10px; } }
  .history table.pt-html-table tr:hover {
    background: #240120;
    cursor: pointer; }
  .history table.pt-html-table th {
    color: white;
    font-weight: 600; }
    @media (max-width: 767px) {
      .history table.pt-html-table th {
        font-size: 10px; } }

.info-tile {
  text-align: center;
  padding: 3rem 15.5rem 21rem 15.5rem;
  min-height: 300px; }
  @media (max-width: 767px) {
    .info-tile {
      padding: 20px;
      padding-top: 0; } }
  .info-tile h1 {
    color: #fff;
    line-height: 5rem;
    font-size: 22px;
    text-transform: none; }
    @media (max-width: 767px) {
      .info-tile h1 {
        line-height: 3.5rem;
        margin-bottom: 0;
        margin-top: 0;
        text-align: left;
        font-size: 18px; } }
  .info-tile p {
    font-size: 1.45rem;
    font-weight: 300;
    line-height: 2.25; }
    @media (max-width: 767px) {
      .info-tile p {
        margin-top: 5px;
        text-align: left;
        font-size: 1.45rem; } }
  .info-tile .cta {
    padding-top: 4rem; }
    .info-tile .cta button {
      -moz-appearance: none;
      -webkit-appearance: none;
      align-items: center;
      border: 1px solid #dbdbdb;
      border-radius: 3px;
      box-shadow: none;
      display: inline-flex;
      font-size: 1rem;
      padding-bottom: calc(0.375em - 1px);
      padding-top: calc(0.375em - 1px);
      position: relative;
      vertical-align: top;
      -webkit-user-select: none;
      user-select: none;
      justify-content: center;
      padding-left: 0.75em;
      padding-right: 0.75em;
      text-align: center;
      font-size: 1.2rem;
      margin: 0 2.5rem 0.5rem;
      padding: 1.5rem 3rem;
      white-space: nowrap;
      color: white;
      background: none; }
      @media (max-width: 767px) {
        .info-tile .cta button {
          margin: 5px; } }
      .info-tile .cta button:hover {
        background: white;
        color: gray; }

.pie-chart {
  margin: 50px; }
  @media only screen and (max-width: 600px) {
    .pie-chart {
      float: none;
      margin: 15px; } }
  .pie-chart h2 {
    margin-top: 0; }

.linechart {
  padding: 30px; }
  .linechart button {
    position: absolute;
    margin: 0;
    padding: 0; }
  .linechart .loader {
    display: flex;
    margin-top: 8%;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    /* align vertical */ }
  .linechart label.pt-label .pt-select {
    width: 20%;
    display: inline;
    vertical-align: middle;
    margin-top: 0;
    font-weight: 400; }
  .linechart select {
    margin-top: 5px; }
  .linechart .date-picker {
    position: absolute; }
    @media only screen and (max-width: 600px) {
      .linechart .date-picker {
        position: relative; } }
  .linechart input {
    display: block;
    margin-top: 5px;
    width: 100%;
    height: 40px;
    color: white;
    padding-left: 20px;
    font-size: 1.5rem;
    padding: 0 25px 0 10px;
    margin-bottom: 20px;
    height: 30px;
    border: none;
    background: #230121;
    font-weight: lighter;
    text-transform: none; }
  .linechart .react-datepicker__current-month,
  .linechart .react-datepicker-time__header {
    font-size: 1.3rem; }
  .linechart .react-datepicker__day-name,
  .linechart .react-datepicker__day,
  .linechart .react-datepicker__time-name {
    color: #000;
    display: inline-block;
    width: 3.7rem;
    line-height: 1.7rem;
    text-align: center;
    margin: 0.166rem; }
  .linechart .react-datepicker {
    font-size: 1.2rem; }
  .linechart .react-datepicker-wrapper {
    width: 100%; }
  .linechart .date-picker {
    display: inline-block; }
    .linechart .date-picker > div {
      display: inline; }
  .linechart label.pt-label {
    display: inline-block;
    margin: 0 10px 19px;
    width: 20%;
    text-align: left;
    font-weight: 400;
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase; }
  @media only screen and (max-width: 600px) {
    .linechart.panel {
      padding: 15px; }
    .linechart .react-datepicker__input-container {
      width: 100%; }
    .linechart label.pt-label {
      display: inherit;
      margin: 0 0 15px;
      width: 100%;
      font-size: 15px; } }
  .linechart span {
    color: white; }

.blog-content {
  display: flex;
  flex-direction: column;
  background: #400923;
  margin-right: -30px; }
  .blog-content .banner {
    -webkit-animation: fadeUpDelay 800ms;
    animation: fadeUpDelay 800ms;
    min-height: 200px;
    opacity: 1;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    position: relative;
    min-height: 500px;
    color: white;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    box-shadow: inset 0 0 0 1000px rgba(100, 100, 100, 0.6);
    margin: 50px auto;
    flex-direction: column;
    margin: 0;
    margin-bottom: 50px;
    padding: 30px; }
    .blog-content .banner p {
      font-size: 16px;
      color: white;
      font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-weight: lighter; }
    .blog-content .banner h1 {
      font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
      line-height: 40px;
      font-size: 26px;
      text-transform: none; }
      @media (max-width: 800px) {
        .blog-content .banner h1 {
          font-size: 24px; } }
  .blog-content .sidebar {
    /* float: left; */
    -ms-flex-order: 2;
    /* order: 2; */
    display: inline-block;
    width: 100%;
    margin: 20px;
    margin-left: 0;
    margin-bottom: 40px;
    margin-top: 0; }
    .blog-content .sidebar a {
      display: inline; }
      @media (max-width: 800px) {
        .blog-content .sidebar a {
          display: inline-block; } }
    .blog-content .sidebar h3 {
      text-align: center;
      font-size: 18px;
      font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
      color: white; }
    @media (max-width: 800px) {
      .blog-content .sidebar {
        width: 90%; } }
  .blog-content #buttons {
    display: flex;
    justify-content: start; }
    .blog-content #buttons > div {
      margin-bottom: 5px;
      margin: 5px;
      margin-left: 0; }
      .blog-content #buttons > div circle {
        fill: #9da0a2; }
      .blog-content #buttons > div:hover circle {
        fill: unset; }
      @media (max-width: 767px) {
        .blog-content #buttons > div {
          display: inline-flex; } }
  .blog-content .blog-post {
    border-radius: 5px;
    -webkit-animation: fadeUpDelay 800ms;
    animation: fadeUpDelay 800ms;
    -ms-flex-order: 1;
    order: 1;
    padding: 0 160px;
    opacity: 1;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp; }
    @media (max-width: 767px) {
      .blog-content .blog-post {
        padding: 0 30px; } }
    .blog-content .blog-post h1 {
      text-align: center;
      margin-bottom: 25px;
      font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
      color: white;
      font-weight: 400;
      padding-bottom: 5px;
      line-height: 1.11111;
      font-size: 28px; }
    .blog-content .blog-post h2 {
      text-align: left;
      font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
      color: #33475b;
      font-weight: 400;
      text-transform: capitalize;
      margin-bottom: 10px;
      padding-bottom: 5px;
      line-height: 1.8125;
      position: relative;
      font-size: 22px; }
      .blog-content .blog-post h2:after {
        position: absolute;
        width: 5%;
        height: 2px;
        right: 0;
        left: 0;
        bottom: -6px;
        text-align: center;
        background: #370118; }
    .blog-content .blog-post img {
      text-align: left; }
    .blog-content .blog-post h4 {
      font-size: 2.5rem;
      text-align: left;
      text-transform: lowercase;
      margin-bottom: 25px;
      font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
      color: white; }
    .blog-content .blog-post em {
      font-size: 16px; }
    .blog-content .blog-post p {
      color: #33475b;
      line-height: 30px;
      font-family: 'Ubuntu', sans-serif;
      font-weight: lighter;
      font-size: 16px; }
    .blog-content .blog-post table.pt-html-table {
      font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
      width: 100%; }
      .blog-content .blog-post table.pt-html-table thead {
        border-bottom: 1px solid white; }
      .blog-content .blog-post table.pt-html-table td {
        color: white; }
      .blog-content .blog-post table.pt-html-table tr:hover {
        background: #240120;
        cursor: pointer; }
      .blog-content .blog-post table.pt-html-table th {
        color: white;
        font-weight: 600; }

.faq {
  font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
  padding: 0 15%; }
  .faq .panel-default > .panel-heading {
    background-color: #230120;
    background-image: none;
    color: white; }
  .faq h1 {
    color: white;
    font-size: 22px;
    margin-bottom: 2rem;
    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: normal; }
  .faq .panel-body {
    background: #2c011d;
    color: white; }

.blog-content {
  background: white;
  padding-bottom: 60px; }

.blog-home {
  font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
  color: white; }
  .blog-home h1,
  .blog-home h2,
  .blog-home h3,
  .blog-home h4,
  .blog-home h5 {
    color: white; }
  .blog-home h5 {
    line-height: 20px; }
  .blog-home .panel {
    padding: 20px 50px;
    border-top: 4px solid white;
    border-radius: 0.25em;
    background-color: #400923;
    -webkit-animation: fadeUpDelay 800ms;
    animation: fadeUpDelay 800ms;
    min-height: 200px;
    opacity: 1;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp; }
  .blog-home a {
    color: white;
    text-decoration: none; }
    .blog-home a:hover {
      text-decoration: none; }
  .blog-home .pt-button:not([class*='pt-intent-']) {
    background-color: transparent;
    background-image: unset;
    color: white;
    padding: 10px 20px;
    font-size: 12px;
    /* margin: 3px; */
    border: 1px solid; }
  .blog-home .pt-card {
    background: #230121; }
  .blog-home .blog-listing {
    color: white; }
  .blog-home p {
    color: white; }

.barchart.panel {
  min-width: 490px;
  width: 100%; }
  @media (max-width: 767px) {
    .barchart.panel {
      min-width: auto; } }

.barchart .loader {
  text-align: center;
  margin-top: 45%; }
  .barchart .loader > div {
    margin: 0 auto; }

.barchart label.pt-label {
  margin: 1 0 20px;
  width: 50%;
  padding-right: 5px;
  display: inline-block;
  text-align: left;
  font-weight: 400;
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase; }
  @media only screen and (max-width: 600px) {
    .barchart label.pt-label {
      width: 100%; } }

@media only screen and (max-width: 600px) {
  .barchart.panel {
    padding: 15px; } }

.coin-tiles {
  display: flex;
  /* or inline-flex */
  flex-wrap: wrap;
  flex: 5;
  align-content: flex-start;
  justify-content: space-evenly;
  padding: 25px;
  /*
    -webkit-animation: fadeUpDelay 800ms;
    animation: fadeUpDelay 800ms;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;*/ }
  @media only screen and (min-width: 760px) and (max-width: 1200px) {
    .coin-tiles {
      flex: 2; } }
  @media (max-width: 767px) {
    .coin-tiles {
      flex-wrap: nowrap;
      padding: 0;
      flex-direction: column; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .coin-tiles {
      justify-content: space-evenly;
      order: 1;
      flex: 2;
      padding: 0; } }
  .coin-tiles h1 {
    color: white;
    font-size: 16px;
    margin-bottom: 0;
    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin-bottom: 4.1rem;
    margin-bottom: 25px;
    flex-basis: 100%;
    margin-top: 0;
    font-size: 12px;
    width: 100%;
    letter-spacing: 2px;
    text-transform: uppercase; }
    @media (max-width: 767px) {
      .coin-tiles h1 {
        margin-bottom: 25px;
        font-size: 16px;
        text-align: left; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
      .coin-tiles h1 {
        margin-bottom: 35px; } }
  .coin-tiles .tile {
    margin: 25px;
    flex-grow: 1;
    max-width: 35%;
    padding: 50px;
    padding-top: 40px;
    flex: 0 50%;
    padding-left: 40px;
    min-width: 260px;
    flex: 0 1 46%;
    margin-top: 0;
    margin-bottom: 40px; }
    @media only screen and (max-width: 1199px) {
      .coin-tiles .tile {
        padding: 20px;
        flex-basis: 100%;
        max-width: none; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
      .coin-tiles .tile {
        flex: 0 1 43%;
        margin: 0;
        margin-bottom: 25px; } }
    @media (max-width: 767px) {
      .coin-tiles .tile {
        padding: 25px;
        margin: 0;
        margin-bottom: 20px;
        padding-left: 40px;
        max-width: 100%;
        margin-top: 0;
        flex-basis: 100%;
        max-width: auto; } }
    .coin-tiles .tile img {
      width: 40px;
      margin-bottom: 10px;
      margin-top: 5px; }
    .coin-tiles .tile .header h1 {
      float: left;
      margin: 0;
      white-space: nowrap;
      line-height: 1.4;
      flex-basis: 100%;
      text-align: left;
      color: white;
      font-size: 14px;
      font-weight: 700;
      width: 100%;
      text-transform: uppercase; }
    .coin-tiles .tile .header span {
      text-align: left;
      font-size: 13px;
      color: #4cf3ce; }
    .coin-tiles .tile h2 {
      font-size: 13px;
      font-weight: bolder;
      color: #bfc5e6;
      margin-top: 10px; }
    .coin-tiles .tile .info h3 {
      margin: 0 6px 0 -6px;
      padding: 0 6px;
      line-height: 32px;
      color: white;
      font-size: 28px;
      font-weight: 700;
      transition: background-color 0.11666667s ease, color 0.11666667s ease; }
    .coin-tiles .tile .info span {
      color: #4cf3ce; }
  .coin-tiles .panel {
    height: auto; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
      .coin-tiles .panel {
        max-width: none; } }

.profit-values {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.purchase-time {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

html,
body {
  height: 100%; }

@media (max-width: 767px) {
  .textwidget {
    display: none; } }

sup {
  top: -1.2em !important;
  font-size: 67% !important; }

body {
  background: #3a0820 !important; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.dashboard {
  position: relative;
  display: flex;
  padding: 30px;
  background: #3a0820;
  padding-top: 5%; }
  @media (max-width: 767px) {
    .dashboard {
      padding-left: 5px;
      padding-right: 10px; } }
  .dashboard header [role='button'] {
    margin-top: 10px;
    margin-right: 5px;
    cursor: pointer;
    float: left;
    display: inline-block; }
    @media (max-width: 767px) {
      .dashboard header [role='button'] {
        display: contents;
        margin-top: 40px; } }
  .dashboard #email-greeting {
    margin: 10px;
    margin-left: 0; }
    @media (max-width: 767px) {
      .dashboard #email-greeting {
        display: none; } }
    .dashboard #email-greeting span {
      margin-right: 5px;
      color: #d4cdd1; }
  .dashboard .header {
    flex: 1; }
    @media (max-width: 767px) {
      .dashboard .header {
        flex: none; } }
  .dashboard .main {
    flex: 4; }
    @media (max-width: 767px) {
      .dashboard .main {
        overflow: hidden;
        padding: 10px;
        margin-top: 40px; } }

.textwidget {
  text-align: center; }

.adsense {
  margin: 0 auto; }

section {
  min-height: 400px; }

footer {
  width: 100%;
  margin-top: 25px;
  padding: 30px; }
  footer ul {
    list-style: none;
    padding-left: 0;
    display: flex; }
  footer li {
    color: gray;
    margin-top: 50px;
    margin-right: 30px; }
  footer a {
    text-decoration: none;
    color: #d3c6c6; }
  footer p {
    color: white; }

h1 {
  font-size: 3rem;
  text-align: center;
  text-transform: lowercase;
  margin-bottom: 25px;
  font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
  color: white; }

.box1 {
  background: red; }

.loader {
  text-align: center;
  margin-top: 20%; }
  .loader > div {
    margin: 0 auto; }

body {
  font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
  background: #3a0820;
  /* background: -webkit-linear-gradient(to right, #200122, #6f0000); /* Chrome 10-25, Safari 5.1-6
  background: linear-gradient(to right, #200122, #6f0000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

h1,
h2,
h3,
h4 {
  font-family: 'Roboto Mono', Helvetica, Arial, sans-serif; }

label {
  display: block;
  font-weight: normal;
  font-size: 18px;
  font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
  color: white;
  margin-bottom: 20px;
  text-transform: lowercase; }

.coin-bg {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(62, 75, 83, 0.65)), to(rgba(62, 75, 83, 0.65))), url(/static/media/coin-bg.d2ec4d95.jpg) no-repeat;
  background: -webkit-linear-gradient(rgba(62, 75, 83, 0.65), rgba(62, 75, 83, 0.65)), url(/static/media/coin-bg.d2ec4d95.jpg) no-repeat;
  background: -o-linear-gradient(rgba(62, 75, 83, 0.65), rgba(62, 75, 83, 0.65)), url(/static/media/coin-bg.d2ec4d95.jpg) no-repeat;
  background: linear-gradient(rgba(62, 75, 83, 0.65), rgba(62, 75, 83, 0.65)), url(/static/media/coin-bg.d2ec4d95.jpg) no-repeat;
  background-size: cover;
  background-position-y: -370px;
  top: 0;
  height: 100%;
  width: 100vw;
  min-height: 390px;
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);
  padding: 15px 33%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (max-width: 767px) {
    .coin-bg {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(62, 75, 83, 0.65)), to(rgba(62, 75, 83, 0.65))), url(./assets/mobile-coin-bg.png) no-repeat;
      background: -webkit-linear-gradient(rgba(62, 75, 83, 0.65), rgba(62, 75, 83, 0.65)), url("./assets/mobile-coin-bg.png") no-repeat;
      background: -o-linear-gradient(rgba(62, 75, 83, 0.65), rgba(62, 75, 83, 0.65)), url("./assets/mobile-coin-bg.png") no-repeat;
      background: linear-gradient(rgba(62, 75, 83, 0.65), rgba(62, 75, 83, 0.65)), url("./assets/mobile-coin-bg.png") no-repeat;
      background-size: cover;
      display: block;
      padding: 70px 30px;
      height: 80%;
      padding: 25px; } }
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    .coin-bg {
      background-position-y: -218px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .coin-bg {
      background-position-y: -118px; } }

header {
  display: flex !important;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  justify-content: space-between; }

header {
  padding: 5px 0; }
  header .header-icon {
    font-size: 24px;
    margin: 10px;
    margin-left: 0; }
  header .right-icons {
    display: none;
    float: right; }
    header .right-icons a {
      color: white; }
  header .logo {
    display: inline-block;
    color: white;
    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif; }
    @media (max-width: 767px) {
      header .logo {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 12px; } }
    header .logo span {
      position: absolute;
      font-size: 9px;
      top: 20px;
      margin-left: 4px; }
  header .menuList {
    display: flex;
    flex-direction: column;
    float: right;
    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif; }
    @media (max-width: 767px) {
      header .menuList {
        margin-left: 5px;
        margin-top: 30px; } }
    header .menuList a {
      position: relative; }
      @media (max-width: 767px) {
        header .menuList a:active:after {
          /*
        content: '';
        position: absolute;
        height: 98%;
        z-index: 1;
        lefT: 24px;
        width: 1px;
        background: white;*/ } }
    header .menuList > div {
      display: inline; }
    header .menuList p {
      color: #7d7479;
      text-decoration: none;
      border: none;
      display: inline-block;
      border-radius: 3px;
      font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
      @media (max-width: 767px) {
        header .menuList p {
          display: none; } }
      header .menuList p:first-child {
        margin-right: 10px; }
      header .menuList p:hover {
        color: gray; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

label.pt-label .pt-select select {
  width: 100%;
  vertical-align: top;
  font-weight: 400;
  color: white;
  background: #230121;
  background-image: none; }

#buttons {
  text-align: center;
  font-family: 'Roboto Mono', Helvetica, Arial, sans-serif; }
  #buttons > div {
    margin-bottom: 5px;
    margin: 5px;
    margin-left: 0; }
    #buttons > div circle {
      fill: #2c2d2d; }
    #buttons > div:hover circle {
      fill: unset; }
    @media (max-width: 767px) {
      #buttons > div {
        display: inline-flex; } }
  #buttons a:hover {
    background: white;
    text-decoration: none; }
    #buttons a:hover span {
      color: black; }
    #buttons a:hover .gylFwk {
      fill: black;
      stroke: none; }
  #buttons svg {
    color: black;
    margin-top: 3px; }
  #buttons span {
    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@media only screen and (max-width: 500px) {
  .menuList {
    display: none; } }

.menuList .logo {
  text-align: center; }

.menuList .pt-popover-target {
  display: inline; }

.menuList .pt-icon {
  color: white !important; }

.menuList a:hover svg {
  color: white !important;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

@media (max-width: 767px) {
  .menuList a:hover a:active svg {
    color: white !important; } }

.menuList a:hover p {
  color: white; }

.menuList svg {
  color: #7d7479 !important; }

.menuList .dropdown-btn {
  background: none !important;
  border: none !important;
  color: #44b8ff;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px;
  padding: 10px 13px;
  font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
  float: none;
  width: 30px;
  font-size: 16px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .menuList .dropdown-btn:hover {
    width: 80px; }

.css-15k3avv {
  height: 100%;
  width: 100%; }

.css-dka780 {
  height: 100%;
  width: 100%; }
