@import './styles/variables';
@import './styles/colours';
@import './styles/mixins';
@import './styles/_home';
@import './styles/results';
@import './styles/login';
@import './styles/history';
@import './styles/info';
@import './styles/pieChart';
@import './styles/lineChart';
@import './styles/blogPost';
@import './styles/faq';
@import './styles/blogHome';
@import './styles/barChart';
@import './styles/coinTile';
@import './styles/profitStats';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700');

html,
body {
  height: 100%;
}

.textwidget {
  @include Phone {
    display: none;
  }
}

sup {
  top: -1.2em !important;
  font-size: 67% !important;
}

body {
  background: #3a0820 !important;
}

.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.dashboard {
  position: relative;
  display: flex;
  padding: 30px;
  background: #3a0820;
  padding-top: 5%;

  @include Phone {
    padding-left: 5px;
    padding-right: 10px;
  }

  header {
    [role='button'] {
      margin-top: 10px;
      margin-right: 5px;
      cursor: pointer;
      float: left;
      display: inline-block;

      @include Phone {
        display: contents;
        margin-top: 40px;
      }
    }
  }

  #email-greeting {
    margin: 10px;
    margin-left: 0;

    @include Phone {
      display: none;
    }

    span {
      margin-right: 5px;
      color: #d4cdd1;
    }
  }

  .header {
    flex: 1;
    @include Phone {
      flex: none;
    }
  }

  .main {
    flex: 4;
    @include Phone {
      overflow: hidden;
      padding: 10px;
      margin-top: 40px;
    }
  }
}

.textwidget {
  text-align: center;
}
.adsense {
  margin: 0 auto;
}

section {
  min-height: 400px;
}

footer {
  width: 100%;
  margin-top: 25px;
  padding: 30px;
  ul {
    list-style: none;
    padding-left: 0;
    display: flex;
  }
  li {
    color: gray;
    margin-top: 50px;
    margin-right: 30px;
  }
  a {
    text-decoration: none;
    color: #d3c6c6;
  }
  p {
    color: white;
  }
}

h1 {
  font-size: 3rem;
  text-align: center;
  text-transform: lowercase;
  margin-bottom: 25px;
  font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
  color: white;
}

.box1 {
  background: red;
}

.loader {
  text-align: center;
  margin-top: 20%;
  > div {
    margin: 0 auto;
  }
}

body {
  font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
  // background: #200122; /* fallback for old browsers */
  background: #3a0820;

  /* background: -webkit-linear-gradient(to right, #200122, #6f0000); /* Chrome 10-25, Safari 5.1-6
  background: linear-gradient(to right, #200122, #6f0000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
}

label {
  display: block;
  font-weight: normal;
  font-size: 18px;
  font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
  color: white;
  margin-bottom: 20px;
  text-transform: lowercase;
}

.coin-bg {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(62, 75, 83, 0.65)),
      to(rgba(62, 75, 83, 0.65))
    ),
    url(/static/media/coin-bg.d2ec4d95.jpg) no-repeat;
  background: -webkit-linear-gradient(
      rgba(62, 75, 83, 0.65),
      rgba(62, 75, 83, 0.65)
    ),
    url(/static/media/coin-bg.d2ec4d95.jpg) no-repeat;
  background: -o-linear-gradient(rgba(62, 75, 83, 0.65), rgba(62, 75, 83, 0.65)),
    url(/static/media/coin-bg.d2ec4d95.jpg) no-repeat;
  background: linear-gradient(rgba(62, 75, 83, 0.65), rgba(62, 75, 83, 0.65)),
    url(/static/media/coin-bg.d2ec4d95.jpg) no-repeat;
  background-size: cover;
  background-position-y: -370px;
  top: 0;
  height: 100%;
  width: 100vw;
  min-height: 390px;
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);
  padding: 15px 33%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;

  @include Phone {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(62, 75, 83, 0.65)),
        to(rgba(62, 75, 83, 0.65))
      ),
      url(./assets/mobile-coin-bg.png) no-repeat;
    background: -webkit-linear-gradient(
        rgba(62, 75, 83, 0.65),
        rgba(62, 75, 83, 0.65)
      ),
      url('./assets/mobile-coin-bg.png') no-repeat;
    background: -o-linear-gradient(
        rgba(62, 75, 83, 0.65),
        rgba(62, 75, 83, 0.65)
      ),
      url('./assets/mobile-coin-bg.png') no-repeat;
    background: linear-gradient(rgba(62, 75, 83, 0.65), rgba(62, 75, 83, 0.65)),
      url('./assets/mobile-coin-bg.png') no-repeat;
    background-size: cover;
    display: block;
    padding: 70px 30px;
    height: 80%;
    padding: 25px;
  }

  @include Tablet {
    background-position-y: -218px;
  }

  @include Tablet-Portrait {
    background-position-y: -118px;
  }
}

header {
  display: flex !important;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  justify-content: space-between;
}

header {
  padding: 5px 0;

  .header-icon {
    font-size: 24px;
    margin: 10px;
    margin-left: 0;
  }

  .right-icons {
    display: none;
    a {
      color: white;
    }
    float: right;
  }

  .logo {
    display: inline-block;
    color: white;
    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;

    @include Phone {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 12px;
    }

    span {
      position: absolute;
      font-size: 9px;
      top: 20px;
      margin-left: 4px;
    }
  }

  .menuList {
    display: flex;
    flex-direction: column;
    float: right;

    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;

    @include Phone {
      margin-left: 5px;
      margin-top: 30px;
    }

    a {
      position: relative;
      @include Phone {
        &:active {
          &:after {
            /*
        content: '';
        position: absolute;
        height: 98%;
        z-index: 1;
        lefT: 24px;
        width: 1px;
        background: white;*/
          }
        }
      }
    }

    > div {
      display: inline;
    }

    p {
      color: #7d7479;
      text-decoration: none;
      border: none;
      display: inline-block;
      border-radius: 3px;
      font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;

      @include Phone {
        display: none;
      }

      &:first-child {
        margin-right: 10px;
      }

      &:hover {
        color: gray;
      }
    }
  }
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

label.pt-label .pt-select select {
  width: 100%;
  vertical-align: top;
  font-weight: 400;
  color: white;
  background: #230121;
  background-image: none;
}

#buttons {
  text-align: center;
  font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;

  > div {
    margin-bottom: 5px;
    margin: 5px;
    margin-left: 0;
    circle {
      fill: #2c2d2d;
    }

    &:hover {
      circle {
        fill: unset;
      }
    }

    @include Phone {
      display: inline-flex;
    }
  }

  a {
    &:hover {
      background: white;
      text-decoration: none;

      span {
        color: black;
      }

      .gylFwk {
        fill: black;
        stroke: none;
      }
    }
  }

  svg {
    color: black;
    margin-top: 3px;
  }

  span {
    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
  }
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.menuList {
  @media only screen and (max-width: 500px) {
    display: none;
  }

  .logo {
    text-align: center;
  }

  .pt-popover-target {
    display: inline;
  }

  .pt-icon {
    color: white !important;
  }

  a:hover {
    svg {
      color: white !important;
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }

    @include Phone {
      a:active {
        svg {
          color: white !important;
        }
      }
    }

    p {
      color: white;
    }
  }

  svg {
    color: #7d7479 !important;
  }

  .dropdown-btn {
    background: none !important;
    border: none !important;
    color: #44b8ff;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    padding: 10px 13px;
    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
    float: none;
    width: 30px;
    font-size: 16px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    &:hover {
      width: 80px;
    }
  }
}

.css-15k3avv {
  height: 100%;
  width: 100%;
}
.css-dka780 {
  height: 100%;
  width: 100%;
}
